body {
    background-color: rgb(27, 27, 27);
    color: #D5D6E2;
    font-family: "Lucida handwriting", "Snell Roundhand", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 0 auto;
    margin: 0 auto;
}

.amp {
    font-family: Garamond, Baskerville, Georgia, serif !important;
    font-style: italic;
    font-weight: normal;
    border: none;
}

a.polaroid {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px 10px 20px 10px;
    width: 150px;
    border: 2px solid #fff;
    border-radius: 3px;
    background: url(http://ogudt6aal.bkt.clouddn.com/image/photo_bg.gif) repeat fixed center;
    z-index: 2;
    font-size: 0.7em;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    -webkit-transition: -webkit-transform 0.5s ease-in;
}

a.polaroid:hover, a.polaroid:focus, a.polaroid:active {
    z-index: 999;
    border-color: #fff;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
}

.polaroid img {
    margin: 0 0 15px;
    width: 150px;
    height: 150px;
}

a img {
    border: none;
    display: block;
}

.photo-head {
    margin: 5px;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-bottom: 2px solid #ccc;
    border-radius: 20px;
}

.photo-album {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    height: 400px;
    margin-top: 20px;
    font-weight: 300;
}

.photo-album .polaroid {
    position: absolute;
}

.photo-album h1 {
    position: absolute;
    z-index: 5;
    top: 150px;
    text-align: center;
    width: 100%;
    line-height: 1.9;
}

.photo-album h1 span {
    background-color: #222;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: 100;
    padding: 0.4em 0.8em 0.3em 0.8em;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 1);
    border: 2px solid #eee;
    border-radius: 12px;
}

.photo-album .small {
    width: 100px;
    padding: 3px 3px 6px 3px;
    font-size: 0.6em;
}

.photo-album .small img {
    width: 100px;
    height: 100px;
}

.photo-album .medium {
    width: 210px;
    padding: 8px 8px 16px 8px;
    font-size: 0.8em;
}

.photo-album .medium img {
    width: 210px;
    height: 210px;
}

.photo-album .medium2 {
    width: 150px;
    padding: 5px 5px 10px 5px;
    font-size: 0.7em;
}

.photo-album .medium2 img {
    width: 150px;
    height: 150px;
}

.photo-album .large {
    width: 300px;
    padding: 10px 10px 30px 10px;
    font-size: 1em;
}

.photo-album .large img {
    width: 300px;
    height: 300px;
}

.photo-album .img1 {
    bottom: 10px;
    right: 365px;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    transform: rotate(10deg);
}

.photo-album .img2 {
    top: 50px;
    right: 20px;
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    transform: rotate(-4deg);
}

.photo-album .img3 {
    left: 400px;
    top: 0;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.photo-album .img4 {
    top: 10px;
    left: 550px;
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.photo-album .img5 {
    bottom: 0;
    right: 0;
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    transform: rotate(-30deg);
}

.photo-album .img6 {
    bottom: 10px;
    right: 156px;
    -webkit-transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    transform: rotate(6deg);
}

.photo-album .img7 {
    bottom: 0;
    left: 400px;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.photo-album .img8 {
    bottom: -20px;
    left: 700px;
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    transform: rotate(-8deg);
}

.photo-album .img9 {
    bottom: 0;
    left: 0;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    transform: rotate(20deg);
}

.photo-album .img10 {
    top: 0;
    left: 20px;
    -webkit-transform: rotate(-50deg);
    -moz-transform: rotate(-50deg);
    transform: rotate(-50deg);
}

.photo-album .img11 {
    top: 0;
    right: 0;
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    transform: rotate(-8deg);
}

.photo-album .img12 {
    top: 0;
    left: 720px;
    -webkit-transform: rotate(18deg);
    -moz-transform: rotate(18deg);
    transform: rotate(18deg);
}

.photo-album .img13 {
    bottom: -20px;
    right: 630px;
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    transform: rotate(4deg);
}

.photo-album .img14 {
    top: 90px;
    left: 460px;
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    transform: rotate(15deg);
}

.photo-album .img15 {
    left: 200px;
    top: 20px;
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    transform: rotate(-8deg);
}

a:hover, a:focus {
    z-index: 5;
}
