.htmleaf-header {
    padding: 2em 190px 1em;
    text-align: center;
}

.htmleaf-demo {
    width: 100%;
}

.htmleaf-demo a {
    color: #fff;
    text-decoration: none;
		display: inline-block;
		padding: 0.6em 1em;
		border: 1px solid #fff;
		border-radius: 12px;
		font-weight: 200;
}

.htmleaf-demo a:hover {
    opacity: 0.6;
}

.htmleaf-demo a.current {
    background: #1d7db1;
    color: #fff;
}
/**/
.htmleaf-container {
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.col-md-3 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}

@media screen and (max-width: 50em) {
    .htmleaf-header {
        padding: 3em 10% 4em;
    }
    .htmleaf-header h1 {
        font-size: 2em;
    }
}

@media screen and (max-width: 40em) {
    .htmleaf-header h1 {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 30em) {
    .htmleaf-header h1 {
        font-size: 1.2em;
    }
}
