body {
  font-size: 100%;
  line-height: 1.6;
}

.block-content {
  min-height: 100vh;
}

block-content p {
  font-size: 1.1em;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  margin: 0 auto 1em auto;
}

.block-content h2 {
  text-align: center;
  margin: 1em 0 0 0;
  font-size: 2.5em;
  line-height: 1;
  letter-spacing: 0.02em;
}
@media all and (min-width: 40em) {
  .block-content h2 {
    font-size: 4.75em;
  }
}

.subtitle {
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  font-size: 1em;
  margin: 0.5em 0;
}

.heading-group {
  margin: 0 0 3em 0;
}

.content h3 {
  font-size: 1.2em;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #fff;
}
@media all and (min-width: 40em) {
  .content h3 {
    font-size: 2.5em;
  }
}

h1, h2, h3 {
  font-weight: 900;
}

p {
  line-height: 1.5;
}

.l-block-spacing {
  min-height: 80vh;
  padding: 2em 0 4em 0;
}

.l-contained {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}
@media all and (min-width: 40em) {
  .l-contained {
    padding-left: 2em;
    padding-right: 2em;
  }
}

.timeline-list {
  padding-bottom: 1em;
  position: relative;
  max-width: 700px;
  margin: 0 auto;
}
.timeline-list:before {
  content: "";
  border-left: 5px solid #000;
  left: -0.25em;
  top: 2em;
  height: 100%;
  position: absolute;
  bottom: 0;
  top: 0;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-animation: scaleVertical 3s 1s ease both 1;
          animation: scaleVertical 3s 1s ease both 1;
}
.timeline-list:after {
  content: "";
  clear: both;
  position: absolute;
  bottom: -10px;
  left: -1.5em;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: none repeat scroll 0% 0% #f00;
  border: 8px solid #DDD;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-animation: revealScaleUp 0.75s 2.82s ease both 1;
          animation: revealScaleUp 0.75s 2.82s ease both 1;
}

.t-block-teal {
  background: #eee;
}

.t-block-teal h2 {
  color: #fff;
}

.t-block-teal h3 {
  color: #034944;
}

.t-block-teal p {
  color: #034944;
}

.timeline-list li {
  margin: 0 0 3em 0;
  padding: 0 2em 0em 3em;
  position: relative;
}

.timeline-list li:before {
  content: "";
  position: absolute;
  top: 0px;
  left: -3.8em;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: none repeat scroll 0% 0% #02aa9d;
  border: 5px solid #fff;
  -webkit-animation: revealScaleUp 0.75s 0s ease both 1;
          animation: revealScaleUp 0.75s 0s ease both 1;
}

.timeline-list {
  -webkit-animation: reveal 2s 0 ease both 1;
          animation: reveal 2s 0 ease both 1;
}

.timeline-list li .content {
  -webkit-animation: revealFromLeft 0.5s 0s ease both 1;
          animation: revealFromLeft 0.5s 0s ease both 1;
}

.timeline-list li:nth-child(1):before {
  -webkit-animation-delay: 0.85s;
          animation-delay: 0.85s;
}

.timeline-list li:nth-child(1) .content {
  -webkit-animation-delay: 1.05s;
          animation-delay: 1.05s;
}

.timeline-list li:nth-child(2):before {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.timeline-list li:nth-child(2) .content {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.timeline-list li:nth-child(3):before {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.timeline-list li:nth-child(3) .content {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

.timeline-list li:nth-child(4):before {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.timeline-list li:nth-child(4) .content {
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s;
}

@-webkit-keyframes revealFromLeft {
  0% {
    -webkit-transform: translateX(-1em);
            transform: translateX(-1em);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes revealFromLeft {
  0% {
    -webkit-transform: translateX(-1em);
            transform: translateX(-1em);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes scaleVertical {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@keyframes scaleVertical {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@-webkit-keyframes revealScaleUp {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes revealScaleUp {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
